html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito','-apple-system','BlinkMacSystemFont',"Segoe UI", Roboto !important;
}

a, a:visited {
    text-decoration: none;
}

a, a:hover, a:visited {
    color: inherit;
}

a.btn {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.left-blob, .right-blob {
    height: 100vh;
    width: 50vw;
    position: absolute;
    z-index: 999;
}

.bg-light-a {
    background: white;
    color: #2D3134;
}

.bg-light-a .navbar-nav > .nav-item .nav-link {
    color: #2D3134 !important;
}

.left-blob {
    bottom: -30vh;
    left: -20vw;    
    transform: rotate(275deg);
}

.right-blob {
    top: -50vh;
    right: -20vw;    
    transform: rotate(270deg);
}

.landing {
    position: relative;
    height: 100vh;
    min-height: 350px;
    overflow: hidden;
}

.svg svg {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 9999;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;
}

.navbar-nav > .nav-item {
    transition: all 300ms linear;
}

.dropdown-item {
    color: white !important;
}

.navbar-nav > .nav-item:hover {
    background: #007556;
}

.nav-link .dropdown.show {
    background: none;
}

.nav-item:hover .nav-link {
    color: white !important;
}

.dropdown-menu {
    background: #007556;
    border: none;
    padding: 0;
    margin-top: 0;
}

.dropdown-item {
    color: white;
    font-size: 1rem;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white !important;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-item:focus {
    background: #007556 !important;
}

.navbar .navbar-brand {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 900 !important;
    position: relative;
    transition: 2s;
}

.navbar .navbar-brand .small {
    font-weight: inherit;
    font-size: 1.5rem;
    margin-left: 30px;
}

.navbar-container a {
    font-size: 1.3rem;
}

.landing-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-content h2{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.landing-content h4{
    font-size: 2rem;
    letter-spacing: 1px;
}

#dynamic {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    height: 3rem;
}

#dynamic:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background: #FFE69B;
    z-index: -99;
}

.landing-content .btn-success {
    background: #007556;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 99999;
}

.btn-success:hover {
    box-shadow: 0 0 3px 1px black;
}

#aboutus {
    background: #192D35;
    padding: 5rem 0;
}

#aboutus .aboutus-card {

    max-width: 520px;
    background: rgb(255, 255, 255, 0.05);
    /* padding: 36px; */
    border-radius: 10px;
}

#aboutus .aboutus-card * {
    font-weight: 700;
    color: white;
}

#aboutus .aboutus-card img {
    height: 40px;
}

.btn-custom, .btn-custom:hover {
    background: #01836C !important;
    color: white;
}

.btn-custom:hover {
    box-shadow: 0 1px 3px black;
}

.video {
    transition: all 100ms linear;
    perspective: 800px;
}
.video iframe {
    transition: all 200ms linear;
}

.video:hover iframe{
    transform: rotateY(-15deg);
    /* transform-origin: left; */
    box-shadow: 0 10px 15px black;
    -webkit-box-reflect: below 0.5px linear-gradient(transparent, transparent, #0002);
}

.testimonial-box {
    padding: 4rem 6rem;
    background: #eee;
}

.carousel {
    transition: box-shadow 300ms ease;
}

.carousel:hover {    
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.carousel:hover .testimonial-box{
    background: #bbb;
    color: white;    
}

.carousel-control-prev, .carousel-control-next{
    font-size: 2vmax;
    color: #2D3134;
}

.carousel-control-prev:focus, .carousel-control-next:focus {
    color: inherit;
}

footer {
    background: #192D35;
    color: white;
}


footer ul li {
    margin-left: 10px;
}

footer h4, footer h5 {
    user-select: none;
    border-bottom: 1px solid white;
}


/* About Us Styling below this */

.bg-aboutus {
    background: linear-gradient(rgb(25, 45, 53, 0.97), rgb(25, 45, 53, 0.97)), url("../assets/images/men-1979261_1920.jpg");
    color: white;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.landing.bg-aboutus {
    height: 80vh;
}


.bg-light-a .navbar-brand {
    color: #2D3134 !important;
}

.bg-aboutus nav .nav-link {
    color: White !important;
}

#mission .fa {
    font-size: 3rem;
    vertical-align: middle;
}

.bg-red {
    background: rgb(97, 4, 4);
}

.bg-blue {
    background: rgb(5, 5, 107);
}
#vision-mision-goal {
    border-top: 4px solid goldenrod;
}

.landing-content img {
    max-width: 100px;
    width: 15%;
}

.team .cards {
    width: 370px;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.team .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: 100%;
    display: none;
}

.team .cards:hover .overlay {
    display: block;
}

.team .cards img {
    transition: transform 500ms ease-in-out;
}

.team .cards:hover img {
    transform: scale(1.1);
}

.team img {
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* About us styling above this */
/* Contact styling below this */
.bg-contact {
    background: linear-gradient(rgb(25, 45, 53, 0.97), rgb(25, 45, 53, 0.97)), url("../assets/images/students_globe.jpg");
    color: white;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.landing.bg-contact {
    height: 100vh;
}

.bg-contact nav .nav-link {
    color: White !important;
}

.bg-contact .landing-content .fa {
    font-size: 3vmax;
    animation: 1s ease-out infinite down; 
}

@keyframes down {
    45% {
        transform: translateY(20px);
    }
}

textarea {
    resize: none;
    height: 120px !important;
}
/* contact styling above this */

/* Gallery style below this */

#image-gallery .image{
    width: 100%;
    height: 260px;
}
#image-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Gallery style above this */


/* Go to top style below*/

.go-to-top {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    background: #FFE69B;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow 300ms;
    transition-delay: 50ms;
    display: none;
}

.go-to-top:hover {
    box-shadow: 0 0 5px 0 #01836C, 0 0 10px 3px rgba(1, 131, 108, 0.1);
}

.go-to-top .fa {
    line-height: 50px;
    font-size: 26px;
    font-weight: 900;
}

.go-to-top:hover .fa {
    filter: 0 0 5px rgba(1, 131, 108, 0.2);
    color: #01836C;
}

/* Go to top style above this */




@media screen and (max-width: 991px) {
    .navbar-light .navbar-nav {
        background: #007556 !important;
        color: white;
        /*width: 300px;*/
        text-align: left;
        padding-left: 20px;
    }

    .landing-content #dynamic {
        font-size: 2.5rem;
        height: 2.5rem;
    }


}


@media screen and (max-width: 360px) {
    .landing-content h2 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .landing-content h4 {
        font-size: 1rem;
    }

    .landing-content #dynamic {
        font-size: 1rem;
        height: 1rem;
    }
}